/Recipes/lesson-info.yaml
/Recipes/recipes_db.mv.db
/Recipes/recipes_db.mv.db-real
/course-info.yaml
/course-remote-info.yaml
/gradlew
/gradlew.bat
/Recipes/task/build/
/Recipes/task/out/
/Recipes/First recipe/
/Recipes/More chefs to the table/
/Recipes/Multiple recipes/
/Recipes/Sort   update/
/Recipes/Store a recipe/
/.idea/
/gradle/
/.gradle/
